---
import TwSizeIndicator from "@/components/TwSizeIndicator.astro";
import config from "@/config/config.json";
import theme from "@/config/theme.json";
import { plainify } from "@/lib/utils/textConverter";
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import "@/styles/main.scss";
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";
import { useTranslations, useTranslatedPath } from "@/i18n/utils";
import { SEO } from "astro-seo";
import { GoogleAnalytics } from "astro-analytics";

// font families
const pf = theme.fonts.font_family.primary;

let fontPrimary;
if (theme.fonts.font_family.primary) {
  fontPrimary = theme.fonts.font_family.primary
    .replace(/\+/g, " ")
    .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}

// types for frontmatters
export interface Props {
  lang?: string;
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  type?: string;
}

// distructure frontmatters
const lang = Astro.props.lang;
const t = useTranslations(lang!);
const tp = useTranslatedPath(lang!);

const title = Astro.props.title;
const meta_title =
  plainify(Astro.props.meta_title ?? title ?? t(config.site.title)) ?? "";
const description =
  plainify(Astro.props.description ?? t(config.metadata.meta_description)) ??
  "";
const image = Astro.props.image;
const canonical = `${config.site.base_url}${Astro.url.pathname}`;
const type = Astro.props.type ?? "website";
---

<!doctype html>
<html lang={lang}>
  <head>
    <GoogleAnalytics id="G-VM2KF8K82V" />
    <!-- favicon -->
    <link rel="shortcut icon" href={config.site.favicon} />

    <!-- theme meta -->
    <meta name="theme-name" content="bigspring-light-astro" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- google font css -->
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          name: fontPrimary!,
          fallback: "sans-serif",
          cssVariable: "font-primary",
          googleFontsURL: `https://fonts.googleapis.com/css2?family=${pf}&display=swap`,
        },
      ]}
    />

    <!-- responsive meta -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />

    <!-- title, description, canonical, noindex robots, author from config.json, OG and Twitter tags using Astro SEO -->
    <SEO
      title={meta_title}
      description={description}
      canonical={canonical}
      languageAlternates={[
        {
          href: "https://fisca.ai/de",
          hrefLang: "de",
        },
        {
          href: "https://fisca.ai/en",
          hrefLang: "en",
        },
        {
          href: "https://fisca.ai/fr",
          hrefLang: "fr",
        },
        {
          href: "https://fisca.ai/it",
          hrefLang: "it",
        },
      ]}
      openGraph={{
        basic: {
          title: meta_title,
          type: type,
          image: `${config.site.base_url}${image ? image : config.metadata.meta_image}`,
          url: `${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`,
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: meta_title,
        description: description,
        image: `${config.site.base_url}${image ? image : config.metadata.meta_image}`,
      }}
    />

    <ViewTransitions />
  </head>

  <body>
    <TwSizeIndicator />
    <Header lang={lang} />
    <main id="main-content">
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
